/** @define AppBase; use strict */
@import 'normalize.css';

.AppBase {
	background-color: #CCD1D9;
	min-height: 100vh;
	max-width: 960px;
	
	display: flex;
  	flex-direction: column;
  	justify-content: center;
   	align-content: center;
   	align-items: stretch;

   	
	
	
}