/** @define AppBase; use strict */
@import 'normalize.css';

.AppBase {
	min-height: 100vh;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
   	align-content: center;
   	align-items: stretch;
}