/** @define Input; use strict */

.Input {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  padding: 0 20px;
  height: 60px;
  font-size: 22px;
  line-height: 60px;
  width: 100%;
  margin-top: 23px;
  color: #000;
}

.Input[type='checkbox'],
.Input[type='radio'] {
  display: inline-block;
  width: auto;
  height: auto;
}

.Input:focus {
  outline: none;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(201,201,201,0.50);
  z-index: 2;
}

.InputFirstLine {
  margin-top: 0px;
}

.Input50 {
  width: calc(50% - 18px);
}

.Input50Push {
  width: calc(50% - 18px);
  margin-left: 33px;
}

.Input--required::-webkit-input-placeholder {
   color: #FF3366;
}

.Input--required:-moz-placeholder {
   color: #FF3366;
}

.Input--required::-moz-placeholder{
   color: #FF3366;
}

.Input--required:-ms-input-placeholder {
   color: #FF3366;
}

.Input-child {}

.Input-child.is-state {}
