body {
   display: flex;
   justify-content: center;
   background-color: #CCD1D9;
   flex-direction: column;
   width: 960px;
}

.pageLinks > ul{
	list-style-type: none;
    display: inline-flex;
}

.pageLinks li{
	    margin: 0px 10px 0px 10px;
}