.MainBody {
	display: flex;
	
}

.Container {
	background-color: #F5F7Fa;

}



.AppBody p{
	font-size: 36px;
}

.PageTitle {
	font-size: 36px;
}

.pageLinks > ul{
	list-style-type: none;
    display: inline-flex;
}

.pageLinks li{
	    margin: 0px 10px 0px 10px;
}