.Footer{
	background-color: #434A54;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Footer a {
	color: #F5F7Fa;
}

.Footer .TOS{
	color: #F5F7Fa;
}

.Footer .COPYRIGHT {
	color: #F5F7Fa;
}