/** @define FAQ; use strict */
@import 'normalize.css';

.FAQ {
	background-color: #F5F7Fa;
}

.Questions-Question {
	margin: 12px 0px 12px 0px;
}

.Questions-Answer {
	display: none;
}

.Questions-Question.isActive + .Questions-Answer {
	display: block;
}

.FAQ > .QNA {
	padding: 20px 60px 20px 60px;
}

.FAQ > .QNA > .Questions {
	padding: 0px 25px 0px 20px;
	border: 1px solid black;
}

.QNA > div > p + p{
	display:none;
}

.QNA p { 
	font-size: 1.0em;
}
.QNA div { 
	
}

.Summary {
	display: flex;
	justify-content: center;
	background-color: #A0D468;
}

.Summary p{
	font-size: 1.5em;
	color: white;
	padding: 20px 80px 20px 80px;
}

.StartButton {
	display: flex;
	justify-content: center; 
	margin: 20px 0px 20px 0px;

}

.StartButton a{ 
    border: 1px solid #A0D468;
    color: #A0D468;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}