/** @define Register; use strict */
@import 'normalize.css';

.Register {
	background-color: #F5F7Fa;

	
}

.Register > div {
	flex-direction: row;
}

.Register > div {
	flex-direction: row;
}

.Personal, .Donation, .Contact, .Submit {
	display: flex;
	flex-direction: row;
	background-color: #A0D468;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	justify-content: space-between;
}

.Donation {
	background-color: #A0D468;
}

.Contact {
	background-color: #A0D468;
}

.Submit {
	background-color: #F5F7Fa;
}